#dreambox{
	width: 100%;
	height: 100%;
	position: relative;
}

#header, #container, #footer{
	width: 100%;
	float: left;
	display: inline-block;
	text-align: center;
}

#header{
	height: 14%;
	background: url("../img/slogan.png") no-repeat center;
	background-size: 100% auto;
}

.slogan{
	width: 100%;
	height: 15%;
	background: url("../img/slogan.png") no-repeat center;
	background-size: 100% auto;
	display: inline-block;
	margin: 24% 0 10% 0; 
}

.indexpage #header{
	background: none;
}

#container{
	height: 74%;
	overflow: auto;
	-ms-overflow-scrolling: touch; 
    -moz-overflow-scrolling: touch; 
    -webkit-overflow-scrolling: touch; 
    -o-overflow-scrolling: touch;  
}

#footer{
	height: 10%;
	margin: 2% 0 0 0;
}

.logo{
	width: 100%;
	display: inline-block;
	padding: 16% 0 0 0;
}

.kv{
	width: 80%;
	display: inline-block;
	margin: 0 0 6% 0;
}

.infoText{
	width: 100%;
}

.btn{
	width: 40%;
	display: inline-block;
}

.uploadArea{
	width: 86%;
	display: inline-block;
	position: relative;
}

#fileInput, #imgPreview, .imgBox, .shell{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}

#fileInput{
	opacity: 0;
	z-index: 2;
}

.btn2{
	width: 32%;
	display: inline-block;
	margin: 0 2%;
}

.browArea{
	width: 69%;
	display: inline-block;
	margin: 4% 0; 
	display: none;
}

.prompt_ca{
	width: 100%;
	height: 20%;
	background: url("../img/prompt_ca.png") no-repeat center;
	background-size: 100% auto;
	display: inline-block;
	float: left;
}

.prompt_ca_friend{
	width: 100%;
	display: inline-block;
	float: left;
	margin: 6% 0 0 0;
}

.shareTips{
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.8) url("../img/shareTips.png") no-repeat center 4%;
	background-size: 100% auto;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 9;
	display: none;
}

.qrcode{
	width: 100%;
	margin: 22% 0 0 0;
	display: inline-block; 
}

.qrcodeSlogan{
	width: 100%;
}

.backbtnArea{
	width: 100%;
	position: relative;
	display: inline-block;
}

.bba_con{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	text-align: center;
}

.bba_con a{
	width: 36%;
	height: 100%;
	display: inline-block;
	margin: 0 2%; 
}



/* 6plus */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: portrait) {

}

/* 6 */
@media only screen and (min-device-width: 375px) and (max-device-width: 410px) and (orientation: portrait) {

}

/* 5s */
@media handheld and (min-height:490px),screen and (max-height:510px) {

}

/* 4s */
@media handheld and (min-height:400px),screen and (max-height:420px) {

	.uploadArea{
		width: 72%;
	}

	.qrcode{
		width: 100%;
		margin: 16% 0 0 0;
		display: inline-block; 
	}

	/*#header{
		height: 14%;
	}

	#container{
		height: 76%;
	}*/

	.kv{
		width: 67%;
		display: inline-block;
		margin: 0 0 6% 0;
	}

	.infoText{
		width: 87%;
	}

}



/* swiper */

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #000;
    
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    border: 1px #6f6f6f solid; 
}

.swiper-slide.swiper-slide-active{
	border: 2px #fff solid;
}




/* loading  */

.loading{
    width: 100%;
    height:100%;
    text-align: center;
    position: fixed;
    left: 0;
    top: 0;
    background: #ccc;
    z-index: 10;
}

.car{
    width:50%;
    display: inline-block;
    margin: 42% 0 0 0;
}

.spinner > div {
  width: 8px;
  height: 8px;
  background-color: #000;
  border-radius: 100%;
  display: inline-block;
  margin-right: 8px;
  -webkit-animation: bouncedelay 2s infinite ease-in-out;
  animation: bouncedelay 2s infinite ease-in-out;
  -webkit-animation-fill-mode: none;
  animation-fill-mode: none;
}

.spinner .bounce2 {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.spinner .bounce3 {
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s;
}

@-webkit-keyframes bouncedelay {
    0%, 80%, 100% { background-color: #000; }
    40% { background-color: #848484;}
}

@keyframes bouncedelay {
    0%, 80%, 100% { background-color: #000;} 
    40% { background-color: #848484;}
}

.loading p{
    font-size: 1.2em;
    line-height: 1.5em;
    padding: 6px 0 0 0;
}

.loading.hide{
	display: none;
}





