<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>遇见COACH圣诞好礼</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui" >
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="stylesheet" type="text/css" href="/dist/style.css"/>
    <script type="text/javascript" src="http://coachxmas.samesamechina.com/dist/js/jrem.js"></script>
    <script type="text/javascript">
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?c792d889f71f75405d19198872cba4ca";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body>
<div class="wrapper">
    <div class="wrap">
        <!-- qrcode-->
        <section class="qrcode">
            <img src="http://coachxmas.samesamechina.com/img/qrcode.png" alt=""/>
        </section>
    </div>
</div>
</body>
</html>